body {
    background-color: lightsteelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    margin: 0px;
    text-align: center;
}

h1, h2 {
    color: midnightblue;
}

body {
    line-height: 2;
}

.container {
    width: 50%;
    border: 5px solid midnightblue;
    padding: 10px;
}

#playBtn,
#resetBtn {
    background-color: mediumslateblue;
    border-style: bold, round;
    border-color: lightskyblue;
    border-radius: 7.5px;
    padding: 5px;
    color: midnightblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#resetBtn:hover,
#playBtn:hover {
    background-color: aliceblue;
    border: solid mediumslateblue;
    padding: 5px;
}

#playBtn:disabled {
    background-color: gray;
    color: midnightblue;
    border: black;
}

label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#plyrGuess {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.jumbotron {
    background-color: aliceblue;
}

.navbar {
    color: midnightblue;
}





